@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


body{
  margin: 0;
  background-color: 
  rgb(244, 203, 210);
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
}

nav{
  width: 100%;
  background-color: #8f9779;
  font-family: 'DM sans';
  margin: 0 auto;
  padding: 5px 0;
  box-shadow: 0px;
  z-index: 99;
}

nav ul{
  list-style-type: none;
  text-align: center;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  display: grid;
  padding: 15px;
  color: black;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}


nav ul li a:hover{
  color: pink;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav.stroke ul li a,
nav.fill ul li a {
position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}










/* home page */ 

  .description{
  font-family: 'DM sans';
}


.description{
  width: 800px;
  height: 50px;
  font-size: x-large;
}

.description{
  text-align: center;
  margin: auto;
  margin-top: 221px;
}








/* button*/
.contact-button{
  background-color: #8f9779;
  border: none;
  border-radius: 4px;
  color: black;
  padding: 13px 32px;
  text-align: center;
  font-size: 16px;
  margin: 90px;
  margin-top: 60px;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  font-family: "DM sans";
  animation: transitionIn 2s;
  position: absolute;
  left: 575px;
}

.contact-button:hover{
    opacity: 0.6;
    color: #C8A2C8;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    transition: all .4s;
}


button:active {
  transform: translateY(-10px);
  transition: transform 0.5s;
}

.contact-button {

  transition-property: box-shadow, transform;
  transition-duration: 350ms;
  transition-timing-function: ease;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.24);
}

.contact-button:is(:hover, :focus) {
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(-8px);
}









/* contact page*/

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(to right, lightpink 0%, lightpink 100%);
  font-size: 12px;
}

body, button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #8f9779;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #C8A2C8;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #d43a3a;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: lightpink;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: lightpink;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #C8A2C8
  ;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.button1 {
  margin-bottom: 0;
  text-align: right;
}

.app-form-group.button1 {
  margin-bottom: 0;
  text-align: right;
}
.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button1 {
  background: none;
  border: none;
  color: #C8A2C8;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button2 {
  background: none;
  border: none;
  color: #C8A2C8;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: lightpink;
}



@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}









/* page transitions*/

nav{
  animation: transitionIn 2s;
}

.description{
  animation: transitionIn 2s;
}


.container{
  animation: transitionIn 2s;
}

.about{
  animation: transitionIn 2s;
}

.projectsdesc{
  animation: transitionIn 2s;
}

@keyframes transitionIn{
  from{
    opacity: 0;
    transform: rotateX(-10deg);
  }
}


to {
  opacity: 1;
  transform: rotateX(0);
}









/*about page*/

*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DM sans'
}
.about-wrapper{
    height: 100vh;
}
.about-left{
    background: lightpink;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.about-left-content > div{
    background: #8f9779;
    padding: 230px;
    text-align: center;
}
.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}

.about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #edffec;
}
.about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}
.icons{
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
    
}
.icons li{
    list-style-type: none;
    background: lightpink;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons li:hover{
    background: #8f9779;
    color: white;
}
.about-right{
    background: lightpink ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}
.about-right h1{
    font-size: 7rem;
    text-transform: uppercase;
}
.about-right h1 span{
    color: #8f9779
}
.about-right h2{
    font-weight: 600;
}
.about-btns{
    display: flex;
    margin: 2rem 0;
}
.projects-button{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
}

.contact-button2{
  border: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 0.55rem 0;
  width: 130px;
  font-weight: 600;
  background: transparent;
  margin: 0 0.5rem;
  cursor: pointer;}

.projects-button{
    background: #C8A2C8;
    color: #fff;
    border-color: black;
    transition: all 0.5s ease-in-out;
}
.projects-button:hover{
    background: transparent;
    border-color: black;
    color: #000;
}
.contact-button2{
    transition: all 0.5s ease-in-out;
}
.contact-button2:hover{
    background: #8f9779;
    border-color: lightpink;
    color: #fff;
}
.about-para p{
    font-weight: 700;
    padding: 0.5rem;
    opacity: 0.8;
}

@media screen and (min-width: 992px){
    .about-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about-left{
        position: relative;
    }
    .about-left-content{
        position: absolute;
        right: -50px;
    }
  }

